%%-*- mode: erlang -*-
{erl_opts, [{parse_transform, lager_transform},
  warnings_as_errors,
  debug_info]}.

{deps, [
  {lager, "3.2.1"},
  {jsx, "2.8.0"},
  {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", {branch, "master"}}},
  {vmq_commons, ".*", {git, "git://github.com/erlio/vmq_commons.git", {branch, "master"}}}
]}.

%% TODO: Add post hook to compile elm to HTML/JS.
{post_hooks, [
  {compile_eml, "elm make"}
]}.
